@import '../../styles/variables.scss';

.thumbnail {
  position: relative;
  display: inline-block;
  padding-top: 12px;
  margin-bottom: 12px;
  padding-left: 18px;
  margin-left: -18px;
  padding-right: 18px;
  margin-right: -18px;
  padding-bottom: 12px;
  transition: text-shadow 0.3s, opacity 0.4s;
  opacity: 0;

  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

  p {
    font-size: 90%;
    line-height: 1.4;
  }
}

.thumbnail.visible {
  opacity: 1;
}
